h1 {
    font-family: 'Bourbon St', serif;
    font-size: 7em;
    font-weight: 400;
    font-variant-ligatures: discretionary-ligatures;
    margin-top: 100px;
}

small, p {
    font-family: 'Neue Montreal', Arial, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 0;
    text-transform: uppercase;
}

header h1 .wide-s {
    font-feature-settings: "ss01" 1, "onum" 1;
}

header h1 .init-b {
    font-feature-settings: "init" 1;
}

header small {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1em;
}

main {
    margin-top: 6em;
}

main h2 {
    font-family: 'Ninna';
    font-weight: bold;
    font-size: 2em;
    color: #666;
    text-align: center;
    font-feature-settings: 'ss06' 1;
    text-transform: uppercase;
}

@media screen and (max-width: 870px) {
    h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 5em;
    }
    header small {
        font-size: 1.3em;
    }
    main h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 625px) {
    h1 {
        font-size: 4em;
    }
    header small {
        font-size: 1em;
    }
}

@media screen and (max-width: 505px) {
    h1 {
        font-size: 3.5em;
    }
    header small {
        font-size: .75em;
    }
}